// header {
//   display: flex;
//   position: relative;
//   width: 90%;
//   margin: auto;
//   align-items: center;
//   height: 10vh;
// }

#header {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100vw;
  margin: auto;
  position: fixed;
  top: 0;
  padding: 0 4rem;
  z-index: 1000;
  transition: all 0.6s;
}

#header.sticky {
  background: linear-gradient(#dffffa, #ddd);
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.3);
  // transition: background-color 0.3s ease-in-out;
}

.logo,
.nav-links {
  display: flex;
}

.logo {
  flex: 2;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
}

nav {
  flex: 3;
  // transform: scale(0, 1);
  // transform-origin: bottom;
  // transition: transform 400ms ease-in-out;
}

.logreg {
  display: flex;
  flex: 1;
  // padding-top: 1rem;
}

.nav-btn {
  margin-left: 1rem;
}

.nav-links {
  justify-content: space-around;
}

nav li a {
  color: #aaa;
}

.nav-links li a:hover,
.nav-links li a.active {
  transition: all 0.2s ease-in-out;
  color: #000;
}

#showcase {
  /* position: relative; */
  width: 80%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  margin-top: 7rem;
}

.showcase-content {
  /* position: absolute; */
  // margin: auto;
  width: 80%;
}

.showcase-text {
  position: relative;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4;
  width: 100%;
}

.showcase-text h1 {
  font-family: "Raleway", sans-serif;
  width: 90%;
  font-size: 250%;
  text-transform: uppercase;
  margin: 1rem 0;
}

.showcase-text h3 {
  font-size: 1rem;
  margin: 2rem 0;
  text-transform: uppercase;
}

.showcase-text .line {
  position: absolute;
  width: 32px;
  height: 2px;
  left: 0px;
  top: 38%;

  background: #202336;
  border-radius: 10px;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.input-container input {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.input-container input:hover,
.input-container input:focus {
  border: 1px solid;
  border-color: #dffffa;
  box-shadow: 0px 0px 10px #3de6cc;
  transition: all 0.3s ease-in-out;
}

/* .input-1 i {
  position: absolute;
  bottom: 38%;
  left: 42%;
  color: #333;
}
.input-2 i {
  position: absolute;
  bottom: 38%;
  left: 24%;
  color: #333;
}

.input-3 i {
  position: absolute;
  bottom: 25.5%;
  left: 42%;
  color: #333;
}
.input-4 i {
  position: absolute;
  bottom: 25.5%;
  left: 24%;
  color: #333;
} */

.showcase-text a {
  display: flex;
  justify-content: center;
  width: 40%;
  text-align: center;
  margin-top: 3rem;
}

.showcase-img img {
  position: relative;
  width: 100%;
  height: 100%;
}

/* #showcase svg {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 35%;
  left: 25%;
  z-index: -1;
  opacity: 1;
  animation: rotate 4s infinite linear forwards;
  transform-origin: center;
  transform-box: fill-box;
} */

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

#showcase .circle-1 {
  position: absolute;
  top: 15%;
  right: 10%;
  height: 30px;
  width: 30px;
  border: 3px solid #bff0dd;
  /* border-radius: 10%; */
  animation: rotate 10s infinite linear forwards;
}
#showcase .circle-2 {
  position: absolute;
  top: 15%;
  right: 10%;
  height: 30px;
  width: 30px;
  border: 3px solid #bff0dd;
  /* border-radius: 10%; */
  animation: rotate 7s infinite linear forwards;
}
#showcase .circle-3 {
  position: absolute;
  bottom: 15%;
  right: 10%;
  height: 30px;
  width: 30px;
  border: 3px solid #bff0dd;
  /* border-radius: 50%; */
  animation: rotate 10s infinite linear forwards;
}
#showcase .circle-4 {
  position: absolute;
  bottom: 15%;
  right: 10%;
  height: 30px;
  width: 30px;
  border: 3px solid #bff0dd;
  /* border-radius: 50%; */
  animation: rotate 7s infinite linear forwards;
}

#new-way {
  position: relative;
  width: 90%;
  height: 100%;
  // margin-top: 0;
  padding-top: 7rem;
  margin: auto;
}

.new-way-content {
  // position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

.new-way-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  line-height: 2;
  width: 70%;
  margin-left: 6rem;
}

.new-way-text h1 {
  font-size: 180%;
}
.new-way-text p {
  font-size: 100%;
  color: #222;
}

.new-way-img img {
  position: relative;
  width: 90%;
  height: 100%;
}

#new-way .circle-5 {
  position: absolute;
  z-index: 10;
  bottom: 0px;
  right: 20%;
  height: 20px;
  width: 20px;
  border: 3px solid #bff0dd;
  /* border-radius: 50%; */
  animation: rotate 10s infinite linear forwards;
}
#new-way .circle-6 {
  position: absolute;
  z-index: 10;
  bottom: 0px;
  right: 20%;
  height: 20px;
  width: 20px;
  border: 3px solid #bff0dd;
  /* border-radius: 50%; */
  animation: rotate 7s infinite linear forwards;
}

#featured {
  margin: auto;
  width: 80%;
  height: 100%;
  margin-top: 8rem;
  padding-top: 15rem;
}

#featured .fh-text {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  width: 93%;
}

#featured .fh-text a {
  color: var(--primary-color);
}

#featured .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

#featured .cards .card {
  cursor: pointer;
}

#featured .card-text {
  background: #fff;
  font-family: "Raleway", sans-serif;
  position: relative;
  width: 120px;
  bottom: 47px;
  left: 0px;
}

#featured .card-text h4 {
  color: #777;
}

#featured .card-img img {
  user-select: all;
  pointer-events: all;
  position: relative;
  width: 80%;
  height: 300px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

#featured .card-img img:hover {
  width: 90%;
  height: 330px;
  transition: all 0.3s ease-in-out;
}

#guide {
  position: relative;
  width: 90%;
  height: 100%;
  margin: auto;
  // margin-bottom: 40rem;
  margin-top: 10rem;
  padding-top: 5rem;
}

.guide-content {
  // position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

.guide-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  line-height: 2;
  width: 70%;
  margin-left: 6rem;
}

.guide-text h1 {
  font-size: 2rem;
}

.guide-img img {
  position: relative;
  width: 90%;
  height: 550px;
}

#guide .circle-7 {
  position: absolute;
  z-index: -2;
  top: 0px;
  left: 20%;
  height: 20px;
  width: 20px;
  border: 3px solid #bff0dd;
  /* border-radius: 50%; */
  animation: rotate 10s infinite linear forwards;
}
#guide .circle-8 {
  position: absolute;
  z-index: -2;
  top: 0px;
  left: 20%;
  height: 20px;
  width: 20px;
  border: 3px solid #bff0dd;
  /* border-radius: 50%; */
  animation: rotate 7s infinite linear forwards;
}

#testimonial {
  position: relative;
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 10rem;
  padding-top: 10rem;
}

.testimonial-content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  line-height: 2;
  width: 70%;
  margin-left: 6rem;
  margin-top: 0rem;
}

.testimonial-text h1 {
  font-size: 2rem;
}

.testimonial-img {
  position: relative;

  img {
    // position: relative;
    width: 90%;
    height: 100%;
    border-radius: 30px;
  }
}

#testimonial .circle-9 {
  position: absolute;
  z-index: -1;
  top: -15px;
  right: 6%;
  height: 40px;
  width: 40px;
  border: 3px solid #bff0dd;
  animation: rotate 10s infinite linear forwards;
}
#testimonial .circle-10 {
  position: absolute;
  z-index: -1;
  top: -15px;
  right: 6%;
  height: 40px;
  width: 40px;
  border: 3px solid #bff0dd;
  animation: rotate 7s infinite linear forwards;
}

.testimonial-icon {
  position: relative;
  width: 140px;
  height: 100%;
  bottom: 70px;
  right: -470px;
  /* padding: 1rem; */
  background: #fff;
  border-radius: 10px;
}

.testimonial-icon a {
  display: inline-block;
  margin: 1rem 0.5rem;
  height: 50px;
  width: 20px;
  /* background: red;
  border-radius: 10px; */
}

.testimonial-icon a:nth-child(1) i {
  position: relative;
  color: #ddd;
  /* heigh5: 10px; */
  /* width: 50px; */
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 50%;
  border: 2px solid #ddd;
}
.testimonial-icon a:nth-child(2) i {
  color: #000;
  /* width: 50px; */
  /* height: 50px; */
  padding: 0.5rem 1rem;
  margin-left: 2.5rem;
  border-radius: 50%;
  border: 2px solid #000;
}

.testimonial-text .stars {
  margin: 3rem 0 0 0;
}

.testimonial-text .stars i {
  color: #ffbb0c;
}

.testimonial-text h3 {
  font-size: 20px;
  font-weight: bolder;
}

.testimonial-text h4 {
  font-size: 15px;
  color: #555;
}

#trending {
  /* background: red; */
  position: relative;
  width: 85%;
  height: 100%;
  margin: auto;
  margin-top: 8rem;
  padding-top: 9rem;
}

.trending-text {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto;
  margin-bottom: 2rem;
  width: 92%;
}

.card-link {
  color: var(--primary-color);
}

.trending-text a {
  // flex: 1;
  color: var(--primary-color);
}

.trending-card-container {
  margin: auto;
  /* position: relative; */
}

.trending-card-container .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  width: 100%;
}

.trending-card-container .card-text {
  /* background: #fff; */
  font-family: "Raleway", sans-serif;
  /* position: relative; */
  /* width: 120px; */
  /* bottom: 47px; */
  /* left: 0px; */
}

.trending-card-container .card-text h3 {
  color: #000;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
  width: 80%;
}
.trending-card-container .card-text h4 {
  color: #777;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
  line-height: 2;
  width: 80%;
}

.trending-card-container .card-3 h3,
.trending-card-container .card-4 h3 {
  width: 90%;
}

.trending-card-container .card-img img {
  /* position: relative; */
  width: 250px;
  height: 300px;
  border-radius: 10px;
}

#footer {
  position: relative;
  /* margin-top: 10rem; */
  background: #f9f9fb;
  height: 100%;
  width: 100%;
  margin: auto;
  // padding: 3rem;
  margin-top: 8rem;
  padding-top: 3rem;
}

#footer .footer-top {
  display: grid;
  grid-template-columns: 40% repeat(3, 1fr);
  margin: auto;
  width: 80%;
}

/* .f-logo-container {
  margin-left: 6rem;
} */

.f-logo-container h4 {
  width: 60%;
  margin-top: 1rem;
  line-height: 1.9;
  font-size: 100%;
}

.f-logo-container h5 {
  margin-top: 3rem;
  font-size: 80%;
}

#footer .footer-top ul {
  margin-top: 1rem;
}

#footer .footer-top ul li {
  line-height: 2.4;
}

#footer .footer-top ul li a {
  color: #848484;
}

#footer hr {
  margin-left: 9rem;
  margin-top: 2rem;
  width: 80%;
}

#footer .footer-icons ul {
  /* background: red; */
  padding: 2rem;

  display: flex;
  justify-content: center;
}

#footer .footer-icons ul li a {
  margin-left: 2rem;
}

#footer .footer-icons ul li a i {
  color: #000;
}
