@media screen and (max-width: 1280px) {
  #header {
    width: 100%;
    height: 10vh;
    padding: 0 2rem;
  }

  .logo {
    // flex: 70%;
    justify-content: flex-start;
  }

  .logreg {
    flex: 100%;
    justify-content: center;
    margin-left: -3rem;
  }

  .line {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
  }
  nav {
    position: absolute;
    // right: 0%;
    background: #dffffa;
    // box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    // top: 0%;
    // height: 100%;
    // width: 100%;
  }

  // .logreg {
  //   position: fixed;
  // }

  .hamburger {
    position: fixed;
    cursor: pointer;
    background: var(--primary-color);
    padding: 0.2rem;
    border-radius: 5px;
    right: 5%;
    top: 5%;
    transform: translate(-5%, -50%);
    z-index: 2000;
  }

  .nav-links {
    // display: flex;
    flex-direction: column;
    position: fixed;
    top: 0%;
    left: 0%;
    // background: #dffffa;
    background: linear-gradient(#dffffa, #ddd);
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 100%;
    -webkit-clip-path: circle(100px at 120% -15%);
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 200;
  }

  .nav-links.open {
    clip-path: circle(1400px at 90% -10%);
    -webkit-clip-path: circle(2200px at 90% -1%);
    pointer-events: all;
  }

  .nav-links li {
    // line-height: 5;
    // display: block;
    opacity: 0;
  }

  .nav-links li a {
    text-align: center;
    margin: auto;
    // display: block;
    font-size: 25px;
    width: 100%;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 1s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 1.2s;
  }
  li.fade {
    opacity: 1;
  }

  #showcase {
    width: 90%;
  }

  #showcase .showcase-img img,
  #guide img {
    width: 90%;
    height: 80%;
  }

  #guide {
    width: 100%;
  }

  .showcase-text .line {
    display: none;
  }

  #featured {
    width: 100%;
    // padding: 0rem 3rem;
  }

  #trending {
    width: 90%;
    padding: 0rem 0rem;
    margin-left: 3rem;
  }

  .trending-card-container .cards {
    grid-gap: 0rem 1rem;
  }
}

@media screen and (max-width: 1120px) {
  #showcase .showcase-text {
    h1 {
      font-size: 170%;
    }
    width: 120%;
  }

  #showcase .showcase-img img {
    width: 85%;
    height: 55%;
    margin-top: 6rem;
    margin-left: 3rem;
  }
  .logo {
    flex: 1;
    width: 100%;
  }
  #new-way {
    width: 95%;

    .new-way-content {
      .new-way-img img {
        width: 100%;
        height: 100%;
      }
      .new-way-text {
        margin-left: 2rem;
        width: 92%;
      }
    }
  }
  #featured {
    width: 80%;
    height: 100%;
    margin-top: 8rem;
    padding-top: 7rem;
    /* margin: auto; */
  }

  #featured .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem 1rem;
    margin: auto;
    max-width: 100%;
  }

  #featured .cards .card {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 1px 15px 15px rgba(0, 0, 0, 0.3);

    .card-img img {
      width: 90%;
    }

    .card-img img:hover {
      width: 94%;
    }
  }
  #guide {
    // height: 30vh;
    padding-top: 10rem;
    width: 100%;
  }

  #testimonial {
    margin-top: 6rem;

    .testimonial-img img {
      width: 100%;
      height: 80%;
    }
    .testimonial-text {
      width: 90%;
      margin-left: 0;
    }
  }

  #trending {
    width: 80%;
    margin: auto;
    margin-top: 9rem;
    padding-top: 7rem;
    height: 100%;
  }
  .trending-card-container .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem 2rem;
  }

  .trending-card-container .cards .card-1,
  .trending-card-container .cards .card-2,
  .trending-card-container .cards .card-3,
  .trending-card-container .cards .card-4 {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 1px 15px 15px rgba(0, 0, 0, 0.3);
  }

  #footer {
    padding: 1rem;
    margin-top: 18rem;

    .footer-top {
      width: 90%;
    }
  }
}

@media screen and (max-width: 990px) {
  #showcase {
    width: 80%;
    grid-template-columns: 100%;

    img {
      display: none;
    }
  }

  .showcase-content {
    margin-top: 0rem;
    margin-left: -2rem;
    width: 100%;
  }

  .showcase-text h1 {
    width: 100%;
    text-align: center;
    font-size: 200%;
  }

  .showcase-text h3 {
    width: 100%;
    margin-left: 0;
    text-align: center;
    font-size: 100%;
  }

  .input-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem 0rem;
    width: 100%;
  }

  .input-container input {
    transition: all 0.3s ease-in-out;
    padding: 1rem;
    width: 90%;
  }

  .showcase-text a {
    // width: 70%;
    margin-top: 2rem;
    margin-left: 0rem;
    // justify-self: center;
    // align-self: center;
  }

  #featured {
    width: 90%;
    height: 100%;
  }

  #featured .fh-text h2 {
    flex: 6;
  }

  .testimonial-img img {
    position: relative;
    width: 400px;
    height: 400px;
  }

  .testimonial-icon {
    width: 140px;
    bottom: 13%;
    left: 60%;
  }

  .guide-img img {
    position: relative;
    width: 100%;
    height: 450px;
  }

  .new-way-img img {
    position: relative;
    width: 100%;
    height: 450px;
  }

  #footer {
    padding: 2rem;
    height: 100%;
    font-size: 80%;
  }

  #footer .footer-top ul li {
    line-height: 3;
  }
}

@media screen and (max-width: 799px) {
  #showcase {
    width: 80%;
    grid-template-columns: 100%;

    .showcase-content {
      width: 100%;

      img {
        display: none;
      }
      .showcase-text {
        h1 {
          text-align: center;
          font-size: 30px;
        }

        h3 {
          // width: 100%;
          // margin-left: 0;
          text-align: center;
          font-size: 16px;
        }

        .input-container {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 2rem 0rem;
          width: 100%;
        }

        .input-container input {
          transition: all 0.3s ease-in-out;
          padding: 1rem;
          width: 90%;
        }

        a {
          // width: 70%;
          margin-top: 2rem;
          margin-left: 0rem;
          // justify-self: center;
          // align-self: center;
        }
      }
    }
  }

  .new-way-text {
    width: 85%;
    margin-left: 1rem;
  }

  .new-way-text h1 {
    font-size: 160%;
  }
  .new-way-text p {
    font-size: 90%;
  }

  .new-way-img img {
    width: 90%;
    height: 350px;
  }

  #featured {
    width: 90%;
  }

  #featured .fh-text h2 {
    flex: 70%;
    font-size: 150%;
  }

  #featured .fh-text a {
    font-size: 100%;
  }

  #featured .cards {
    .card-img img {
      width: 90%;
      height: 220px;
    }

    .card-img img:hover {
      width: 100%;
    }
    // grid-template-columns: repeat(1, 1fr);
  }

  #guide {
    margin-top: 2rem;
  }
  .guide-text {
    width: 85%;
    margin-left: 2rem;
  }

  .guide-text h1 {
    font-size: 160%;
  }
  .guide-text p {
    font-size: 90%;
  }

  .guide-img img {
    width: 90%;
    height: 350px;
  }

  #guide .circle-5 {
    z-index: 10;
    bottom: 0%;
    right: 10%;
  }
  #guide .circle-6 {
    z-index: 10;
    bottom: 0%;
    right: 10%;
  }

  #testimonial {
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
  }

  .testimonial-text {
    width: 90%;
    margin-left: 0rem;
  }

  .testimonial-text h1 {
    font-size: 150%;
  }

  .testimonial-text p {
    font-size: 80%;
  }

  .testimonial-icon {
    width: 140px;
    bottom: 13%;
    left: 60%;
  }

  #trending {
    margin-top: 4rem;
  }

  .trending-text h2 {
    flex: 70%;
    font-size: 150%;
  }

  .trending-text a {
    font-size: 100%;
  }

  .trending-card-container .cards {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    grid-gap: 4rem 0rem;
  }

  #footer .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
  }

  .f-logo-container h4 {
    width: 100%;
  }

  .f-logo-container h5 {
    margin: 2rem 0;
    width: 100%;
  }

  #footer hr {
    margin-top: 3rem;
    margin-left: 1rem;
    width: 98%;
  }
}

@media screen and (max-width: 599px) {
  #showcase {
    width: 80%;
    grid-template-columns: 100%;

    img {
      display: none;
    }

    .showcase-content {
      margin-top: 0rem;
      margin-left: -1.5rem;
      width: 100%;

      .showcase-text {
        h1 {
          width: 100%;
          text-align: center;
          // font-size: 200%;
        }
        h3 {
          width: 100%;
          margin-left: 0;
          text-align: center;
          // font-size: 100%;
        }

        .input-container {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 2rem 0rem;
          width: 100%;
        }

        .input-container input {
          transition: all 0.3s ease-in-out;
          padding: 1rem;
          width: 90%;
        }
      }
    }
  }
  #new-way {
    img {
      display: none;
    }

    .new-way-content {
      grid-template-columns: 100%;

      h1 {
        font-size: 20px;
        margin-bottom: 1rem;
      }
    }
  }

  #guide {
    img {
      display: none;
    }

    .guide-content {
      grid-template-columns: 100%;

      h1 {
        font-size: 20px;
        margin-bottom: 1rem;
      }
    }
  }

  #featured .cards {
    grid-template-columns: 100%;

    .card-img img {
      height: 300px;
      width: 100%;
      user-select: none;
    }
  }

  .card-img img:hover {
    height: 300px;
    width: 100%;
    user-select: none;
  }

  #featured .fh-text h2 {
    flex: 50%;
    font-size: 120%;
  }

  #featured .fh-text a {
    font-size: 100%;
  }

  .testimonial-content {
    grid-template-columns: 100%;
  }

  .testimonial-img img {
    display: none;
  }

  .testimonial-icon {
    width: 140px;
    bottom: 10%;
    left: 20%;
  }

  #trending .trending-text h2 {
    flex: 50%;
    font-size: 120%;
  }

  #trending .trending-text a {
    font-size: 100%;
  }

  #footer .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
  }

  .f-logo-container h4 {
    width: 100%;
  }

  .f-logo-container h5 {
    margin: 2rem 0;
    width: 100%;
  }

  #footer hr {
    margin: 4rem 2rem 2rem 2rem;
    width: 80%;
  }
}

@media screen and (max-width: 499px) {
  // nav {
  //   width: 100%;
  //   height: 100%;
  //   /* font-size: 200%; */
  // }

  #showcase {
    /* position: relative; */
    width: 100%;
    // height: 120vh;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0.5rem;
  }

  .showcase-text h1 {
    width: 100%;
    font-size: 200%;
    margin: 1rem 0rem;
  }

  .showcase-text h3 {
    font-size: 100%;
  }

  .input-container input {
    padding: 1rem;
    width: 70%;
    /* font-size: 150%; */
  }

  .showcase-text a {
    width: 50%;
    /* font-size: 200%; */
    margin-top: 4rem;
  }

  .showcase-img img {
    display: none;
  }
  #new-way {
    position: relative;
    // height: 40vh;
    width: 90%;
  }

  .new-way-content {
    /* position: relative; */
    grid-template-columns: repeat(1, 1fr);
    font-size: 100%;
  }

  .new-way-img img {
    display: none;
  }

  .guide-content {
    /* position: relative; */
    grid-template-columns: repeat(1, 1fr);
    font-size: 100%;
  }

  .guide-img img {
    display: none;
  }

  #featured {
    width: 95%;
    padding: 0 1rem;
    height: 100%;
  }
  #featured .fh-text h2 {
    flex: 50%;
    font-size: 100%;
  }

  #featured .fh-text a {
    font-size: 100%;
  }

  #trending {
    width: 90%;
  }

  #footer .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
  }

  .f-logo-container h4 {
    width: 100%;
  }

  .f-logo-container h5 {
    margin: 2rem 0;
    width: 100%;
  }

  #footer hr {
    margin: 4rem 2rem 2rem 2rem;
    width: 80%;
  }
}
