@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Poppins&family=Raleway:wght@500&family=Roboto&display=swap");
:root {
  --primary-color: #fb8f1d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  user-select: none;
  pointer-events: none;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn-light {
  background: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 0.5rem 2rem;
}
.btn-dark {
  background: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 0.5rem 2rem;
}

@import "./home";
@import "./responsive";
